* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    opacity: 0;
    transition: opacity 0.5s ease; /* Duración de la transición */
    background-color: rgb(62, 129, 192); /* Evita destellos blancos entre cargas */
}

/* Cuando el JS se activa, la página aparece */
body.visible {
    opacity: 1;
}


.pantalla-login {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("assets/pantalla-login-vacia.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}   

.zona-clicable {
    position: absolute;
    cursor: pointer;
    z-index: 2;
    transition: transform 0.3s ease;
}

.zona-clicable img {
    width: 100%;
    height: auto;
    display: block;
}

.zona-clicable:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.1); /* Brillo sutil al pasar el ratón */
}

.zona-boton { width: 5%; right: 2%; bottom: 2%; }
.zona-perfil { width: 16%; left: 42%; top: 24%; } 
.zona-perfil-secundario { width: 10%; right: 22%; bottom: 48% }